.wrap-breadcrumb{
  width:1000;
  background: #347df3;
  color:#fff;
  padding:0.5em;

  ul{
    display:inline-block;
    margin-left:10px;

    li{
      display: inline-block;
      a{
        color:#fff;
      }
      .separator{
        padding:0 5px 0 5px;
      }
    }
  }
}
