.wrap-files{
  width:100%;
  clear:both;
  margin:15px 0 15px 0;

  .label{
    width: 100%;
    margin-left:0 !important;
    margin-bottom: 5px !important;

    a{
      color:#fff !important;
      opacity: 1 !important;
    }

    span{
      margin-right:5px !important;
    }
  }

  .selected{
    background: #D60000 !important;
  }
}
.empty-files{
  background:#4286F4;
  width:100%;
  padding:5px 10px 5px 10px;
  margin-bottom:10px;
  color:#fff;
}
