.loading-mailbox{
  width:100%;
  min-height:150px;
  font-size:14px;
  background:#fff url('../images/loading-mailbox.gif') center 30px no-repeat;
  color:#000;
  position:relative;
  display: inline-block;
  border:1px solid #cccccc;

    .text{
      height:20px;
      font-size:16px;
      font-weight: bold;
      overflow:auto;
      position: absolute;
      top: 80%;
      left:50%;
      transform: translate(-50%, -50%);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden;
    }
}
