.wrap-notice{
  position:fixed;
  right:10px;
  top:10px;
  width:400px;
  z-index:10001;

  .notice{
    padding:10px 20px 10px 20px;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    font-weight: bold;
  }
  .success{
    background:#15d800;
    color:#fff;
  }
  .error{
    background:#e50000;
    color:#fff;
  }
}
