.tooltip{
  position:relative;
}
.tooltip:hover:after{
	border: 1px solid #000;
  font-size:13px;
  color:#fff;
	padding: 3px 6px;
	background: #c6c6c6;
	content: attr(data-title);
	position: absolute;
	right: 0;
	top: -30px;
  display: inline-block;
  white-space: nowrap;
  z-index:99999;
}
