.uploader{
  width: 100%;
  padding:30px 0 30px 0;
  text-align:center;
  margin-bottom:10px;
  border:2px dashed #000;
  border-radius: 5px;
}
.uploader-list-files{
  width:100%;

  h2{
    font-size:16px;
    padding:0 0 5px 0;
    margin:0;
  }

  .label{
    width:100%;
    margin-bottom: 5px !important;

    span{
      margin-right: 5px;
    }
  }
  .file{
    width:100%;
    border:1px solid #0857d6;
    margin:2px 0;
    padding:3px 10px 3px 10px;
    background:#4286f4;
    color:#fff;

    &.uploading{
      background:#ED5A5A;
    }
    &.uploaded{
      background:#03c400;
    }
  }

  .wrap-button{
    width:100%;
    text-align: center;

    button{
      display:inline-block;
      margin: 3px 0 10px 0;
    }

    .button-clear{
      background:#ED5A5A;
      margin-left:10px;
    }
  }
}
