.wrap-history-status{
  .wrap-details-item{
    background: #31c400;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    color:#fff;
    .row{
      .label{
        width:30%;
      }
      .value{
        background:#828282;
        padding-left:20px;
      }
    }
  }
}
