.modals{
  .wrap-details-item{
    display: table;
    width:100%;

    .row  {
      display: table-row;
      width:100%;

      div{
        border-bottom:1px solid #000;
        display: table-cell;
        padding:5px;
      }

      .label{
        font-weight:bold;
      }
    }
  }
}
