#mailbox-details{
  .subject-mail{
    margin-top:4px;
    margin-left:0 !important;
    width:100%;
  }

  .header-details{
    margin-top:3px;

    .icon{
      font-size:3.2rem !important;
      padding-top:1px;
    }
  }

  .wrap-item{
    width:100%;
    clear: both;
  }

  .sub{
    width:100%;

    .name-label{
      width:70px;
      display: inline-block;
      float:left;
      font-size:12px;
    }
    .value{
      float:left;
      font-size: 13px;
      font-weight:bold;
    }
  }

  .list-files{
    ul{
      margin:0;
      padding:0;
      list-style: none;

      .attachment-size{
        color:#c4032d;
      }
    }
  }

  .message-htmlpart{
     blockquote {
        color: blue;
        border-left: 2px solid blue;
        border-right: 2px solid blue;
        background-color: #f6f6f6;
        margin: 2px 0;
        padding: 0 .4em;
        overflow: hidden;
        text-overflow: ellipsis;

         blockquote {
          color: green;
          border-left: 2px solid green;
          border-right: 2px solid green;
          blockquote {
            color: #900;
            border-left: 2px solid #b00;
            border-right: 2px solid #b00;
             blockquote {
               color: #900;
               border-left: 2px solid #b00;
               border-right: 2px solid #b00;
                 blockquote{

                 }
             }
          }
       }
    }
  }
}
