#form-new-mail{
  .field-template-footer{
    margin: 5px 0 5px 0;
    display: inline-block;
    width: 100%;

    label {
      width: 10%;
      display:inline-block;
      max-width:100px;
      float:left;
      font-weight: bold;
    }
    .select-tempalate-footer{
      float: right;
      width:90%;
    }
  }
  .field {
    margin-bottom:5px;

    label {
      width: 10%;
      display:inline-block;
      max-width:100px;
      float:left;
    }

    .input{
      display: inline-block;
      width:90%;

      input{
        width: 100%;
      }
    }

    textarea{
      width: 90%;
      min-height:400px;
    }
  }

  .error{
    &.message{
      padding-left:0 !important;
    }
  }

  .options-to{
    margin-left: 10%;
    margin-bottom: 5px;
    clear:both;
  }

  .with-icon{
    position: relative;

    .field{
      width:100%;

      .input{
        display: inline-block;
        width: 90% !important;
      }
    }

    .message{
      clear:both;
    }

    .wrap-icon-form-mail{
      position:absolute;
      right:25px;
      top:4px;
      cursor: pointer;
    }
  }
}
