.mailbox-grid{
  margin-top: 0px;

  tr.selected{
    td{
      background: #5291CD !important;
      color:#fff;
    }
  }

  tr.not-seen{
    font-weight:bold;

    td{
      background:#f7f7f7;
    }
  }

  .green{
    background: green !important;
  }

  .orange{
    background: #f9b811 !important;
  }
}
