#list-folders{


  .list{
    padding:0px 0 0 0 !important;

    .content {
      padding:0 0 0 0px !important;
      vertical-align: bottom !important;
    }  
    .list{
      padding:1px 0 1px 0 !important;

      .content {
        padding:0 0 0 0px !important;
      }
    }
  }

  .card{
    .header-mail{
      background: #2185D0;
      padding:20px 25px 20px 25px;

        .header{
          color:#fff;
        }

        i{
          color:#fff;
        }
    }
    .content-folders  {
      background: #eff8ff;
      padding:20px 25px 20px 30px;

      .item{
        padding-bottom:0px !important;
        padding-top:0px;

        a{
          color:#000 !important;
        }
        .active {
          a{
            color: red !important;
          }
        }
        .item{
          .active {
            a{
              color: red !important;
            }
          }
          a{
            color:#898989 !important;
          }
        }
      }
    }
  }
}
