.menu-mailbox{
  margin:0;
  padding:0;
  width: 100%;
  clear: both;
  display: inline-block;

  i{
    background: #fff;
    color:#000;
    border: 1px solid #04d88e !important;
  }

  .option{
    float:left;
    width:auto;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    margin-right:10px;

    &:hover{
      color:#f2f2f2 !important;

      p{
        color:#fff2f2 !important;
      }

      i{
        background:#fff2f2 !important;
      }
    }

    a{
      color:#000 !important;
    }

    p{
      color: #fff;
      margin:0;
      padding:0;
    }
  }

  .no-selected{
    float:left;
    margin: 15px 0 0 20px;
  }
}
