.popup-grid-delete{
  background: #4286f4;
  padding:10px;
  color:#fff;
  border:2px solid #000;

  ul{
    list-style: none;
    text-align: center;
    margin-top:5px;

    li{
      display: inline-block;
      padding:5px 20px 5px 20px;
      cursor: pointer;
    }
    li.yes{
      background: #04cc36;
    }
    li.no{
      background: #dd0000;
    }
  }
}
