.wrap-grid-normal{
  .filters{
    display: flex;
    flex-direction: row;
    background:#4286f4;
    align-items: center;
    text-align: left;
    color:#fff;
    padding:5px 0 10px 0;

    .column-filter{
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: center;
      padding:0 1em;

      input{
        padding:5px 10px 5px 10px;
      }

      .filter-select{
        .loading-filter{
          width:100%;
          height:28px;
          padding:5px 0 0 40px;
          font-size:14px;
          background:#fff url('../images/loading-filter.gif') -30px center no-repeat;
          color:#000;
              border:1px solid #CCCCCC;
        }
      }
    }
  }

  .grid{
    padding:0 10px 0 10px;
  }

  .quantity-items{
      float:right;
      display:inline-block;
      margin:10px 0 10px 0 !important;
      padding:5px !important;
      font-size:12px !important;
  }

  .row-grid{
    background:#fff;
    align-items: center;
    text-align: left;

    &.loading{
      position: relative;
      background:#fff;

      td:first-child:before {
          content: "";
          position:absolute;
          width: 500px;
          height: 50px;
          top: 0;
          left: 0;
          /*background: red;*/
          background: url('../images/loading-filter.gif') -30px center no-repeat;
          z-index:100;
      }
      td > * {
        opacity:0;
      }
      td{
        position:relative !important;
        border-left:0 !important;
      }
    }
  }

  .row-grid:hover{
    background:#4286f4;
    color:#fff;
  }

  .select{
    justify-content: center;
  }

  .row-cell{
    justify-content: center;
  }

  .cell-actions{
    overflow: visible !important;
    text-align: center !important;

    button{
      padding:5px;

      a{
        color:#fff;
      }
    }
  }
}
