.wrap-pagination-grid{
  margin:10px 0 0px 0;
  display:inline-block;
  width:100%;

  .pagination{
    min-height:20px !important;

    .page-size{
      float:left;

      .title{
        background:#0945a5;
        color:#fff;
      }
    }

    .item{
      min-width: 10px !important;
      font-size:12px !important;
      padding:5px !important;

      &.quantity-pages{
        background: #21BA45 !important;
        color:#fff !important;
        font-size:12px;
      }

      &.last-page, &.first-page{
        background:#0945a5;
        color:#fff;
      }
    }
  }
}
