.wrap-grid{
  .filters{
    display: flex;
    flex-direction: row;
    background:#4286f4;
    align-items: center;
    text-align: left;
    color:#fff;
    padding:5px 0 10px 0;

    .column-filter{
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: center;
      padding:0 1em;

      input{
        padding:5px 10px 5px 10px;
      }
    }
  }

  .grid {
    width:100% !important;
    text-align: left;
    padding:10px;

    .row-grid{
      display: flex;
      flex-direction: row;
      background:#fff;
      align-items: center;
      text-align: left;

      &.loading{
        opacity: 0.5;
        background: #dddbdb;
        text-align: center;
      }
    }

    .row-grid:hover{
      background:#4286f4;
      color:#fff;
    }

    .select{
      display: flex;
      flex-direction: column;
      border-right: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      justify-content: center;
      padding:0 0.5em;
    }

    .row-cell{
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      border-right: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      justify-content: center;
      padding:0 1em;
    }

    .cell-actions{
      width:100%;
      display: inline-flex;
      flex-direction: row;
      flex: 1 1 auto;
      justify-content: center;

      .action{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        justify-content: center;
        margin:0 2px 0 2px;

        a{
          padding-bottom:3px;
          margin:0;
        }
      }
    }
  }
}
