.wrap-select{
  position: relative;
  background:#fff;
  color:#000;
  font-size:14px;
  min-width:90px;

  .wrap-select-title{
    border:1px solid #CCCCCC;
    background:#fff;
    padding:5px 10px 5px 10px;
    box-sizing: border-box;
    width:100%;

    .select-title{
      display: inline-block;
      width:90%;
      cursor: pointer;
      border-radius: 3px;
    }
    .clear{
      width:10%;
      display: inline-block;
      text-align: right;
      cursor: pointer;
    }
  }
  .wrap-list{
    position:absolute;
    top:35px;
    left:0;
    overflow:auto;
    width:100%;
    z-index:9999;
    max-height:220px;

    ul{
      background:#fff;
      border-top:1px solid #CCCCCC;
      border-left:1px solid #CCCCCC;
      border-right:1px solid #CCCCCC;
      padding:0;
      margin:0;

      li{
        width:100%;
        padding:5px 10px 5px 10px;
        border-bottom:1px solid #CCCCCC;
        display:inline-block;
        cursor: pointer;
        color:#000;

        span{
          display:inline-block;
          margin-right:10px;
        }

        &:hover{
          background:#c1c1c1;
          color:#fff;
        }
      }
      li.selected{
        background: #4286F4;
        color:#fff;
      }
    }
  }

}
